.about {
    font-size: 1em;
    line-height: 1.2em;
    color: black;
    margin: auto;
    width: 65%;
}
#about-cook {
    background-color: rgba(253, 253, 81, 0.69);
}

#about-travel{
    background-color: rgba(150, 150, 247, 0.65);
}

#about-develop {
    background-color: rgba(250, 154, 154, 0.72);
}
@media screen and (max-width: 480px) {
    #montreal {
         width: 250px;
         height: 200px;
    }
}